/*
 * Empty Stylesheet file.
 */

.BackgroundPane {
    
    -fx-background-color: #B9D5FD;
    

}

.SubPane {
    
    -fx-background-color: #709FDC;
   

}

.scroll-pane{
    
    -fx-background-color: #B3D1F4;
   

}
.Table-pane{
    
    -fx-background-color: #A2C0DD;
   
   

}

.Side-Button {
    
    -fx-background-color: #274684;

    
 }
 .Side-Button:hover{
    
    -fx-background-color: #153872;
    
 }
 
 .Back-Button {
    
    -fx-background-color: #071739;

    
 }
 .Back-Button:hover{
    
    -fx-background-color: #274684;
    
 }
 
 .Side-Button-select {
    
    -fx-background-color: #071739;

    
 }
 
 .Special-buttons {
    
    -fx-background-color: #1B2E4C;

    
 }
 
 .Special-buttons:hover {
    
    -fx-background-color: #5D5D82;

    
 }

